body{
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 1rem;
    max-width: 50rem;
    padding: 20px;
}